.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar{
    background:white;
    div{
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo-dimension{
    width:90px;
    height: 25px;
}

.navbar{
    width: 65%;
    margin: auto;
}
