table {
    width: 100%;
}
mat-card{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    width: 60%;
    button{
        color: white;
        box-shadow: none;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
    }
}

a{
    color:#49b4bb;
}

.example-spacer {
    flex: 1 1 auto;
}

.main-div{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-row:nth-child(even){
    background-color:#F8F8F8;
}

mat-icon{
    font-size: 18px;
    font-weight: 700;
    color:#49b4bb;
}