table {
    width: 100%;
}
mat-card{
    width: 60%;
}

.example-spacer {
    flex: 1 1 auto;
}

.main-div{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}