table {
    width: 100%;
}
mat-card{
    width: 60%;

    button{
        color: white;
        box-shadow: none;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.main-div{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-row:nth-child(even){
    background-color:#F8F8F8;
}

mat-icon{
    font-size: 18px;
    font-weight: 700;
}