<div class="container">
    <div class="form">
        <img src='../../assets/logo.svg'/>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutAlign="center center" fxLayout="column wrap">
            <!-- <div class="form-group">
                <input type="text" placeholder="Email ou Login" formControlName="username" class="form-control input-text" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div> -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Email ou Login</mat-label>
                    <input matInput type="text" formControlName="username" id="username">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password" id="password">
                </mat-form-field>
            </div>
            <!-- <div class="form-group">
                <input type="password" placeholder="Senha" formControlName="password" class="form-control input-text" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div> -->
            <div class="form-group">
                <mat-checkbox formControlName="lembrarSenha">Lembrar minha senha</mat-checkbox>
                <!-- <input type="checkbox" checked="false" formControlName="lembrarSenha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lembrarSenha.errors }" />
                <label for="lembrarSenha">Lembrar minha senha</label> -->
            </div>
            <div class="button-container">
                <div>
                    <app-button (onClick)="onSubmit()" [classe]="secondary" [label]="labelCriar"></app-button>
                </div>                                
                <div>
                    <app-button (onClick)="onSubmit()" [classe]="primary" [label]="labelAcessar"></app-button>
                </div>                
            </div>            
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>