<h1 mat-dialog-title>Nova Consulta</h1>
<div mat-dialog-content *ngIf="especialidades">
    <form [formGroup]="consultaForm" (ngSubmit)="confirmarConsulta()" fxLayoutAlign="center center" fxLayout="column wrap">
        <div class="form-group">
            <select formControlName="especialidade" (change)="selectEspecialidade($event)" >
                <option value="" disabled selected>Especialidade</option>
                <option *ngFor="let espec of especialidades" [value]="espec.id">{{espec.nome}}</option> 
            </select>
        </div>
        <div class="form-group">
            <select [disabled]="medicos.length === 0" formControlName="medico" (change)="selectMedico($event)">
                <option value="" disabled selected>Médico</option>
                <option *ngFor="let medico of medicos" [value]="medico.id">{{medico.nome}}</option> 
            </select>
        </div>
        <div class="form-group">
            <select formControlName="data" (change)="selectData($event)">
                <option value="" disabled selected>Data</option>
                <option *ngFor="let data of datas" [value]="data.agenda">{{data.data | date: 'dd/MM/yyyy'}}</option> 
            </select>
        </div>
        <div class="form-group">
            <select formControlName="hora">
                <option value="" disabled selected>Hora</option>
                <option *ngFor="let hora of horarios" [value]="hora.data">{{hora.data}}</option> 
            </select>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <div class="button-modal">
        <app-button (onClick)="onNoClick()" [classe]="secondary" [label]="labelCancelar"></app-button>
    </div>                                
    <div class="button-modal">
        <app-button (onClick)="confirmarConsulta()" [classe]="primary" [label]="labelConfirmar"></app-button>
    </div>
</div>