appdirs==1.4.4
asgiref==3.2.10
Babel==2.8.0
cx-Oracle==8.0.0
distlib==0.3.1
Django==3.1
django-cors-headers==3.4.0
django-filter==2.3.0
django-phonenumber-field==4.0.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
filelock==3.0.12
phonenumbers==8.12.7
PyJWT==1.7.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.31
